/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* Applying split screen view */

#channels{
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    right: 60%;
    height: 100vh;

}

#chat{  
    position: absolute;
    top: 0;
    right: 0;
    left:40%;
    height: 100vh;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    /*reused font-type, font-weight*/
    height:56px;
    width: 100%;
    line-height: 56px;
    padding: 3px 16px 3px 16px;
    background-color: #3F51B5;
    color: white;
    font-size: 20px;
    letter-spacing: 0.15px;
    position:fixed;

}

/*Aligning Moocus to bottom of app-bar*/
h1 img{
    height : 56px;
    position: absolute;
    left: 16px;
    bottom: 0;
}

/*Leaving space for Moocus image*/
#channels h1{
    padding-left: 72px;
}




/* CHANNELS LIST */
/*channel-area between app-bar and tab-bar*/
#channel-list{
    position: absolute;
    top:62px;
    bottom: 72px;
    overflow: auto;
    width: 100%;
}


/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

.channel-meta img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;    
}
/*shift images to the right of channel-tiles*/
.channel-meta{
    display: inline;
    position: absolute;
    right: 0px;
}

/* TAB BAR */

/* #4 #sweat #tab-bar */
#tab-bar , #chat-bar{
    height: 72px;
    width: 100%;
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    /*alignment to bottom of page*/
    position:absolute;
    bottom: 0;
    /*applying flex box properties*/
    display: flex;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button , #chat-bar button{
    background-color: white;
    border: none;
    width:33%;
    font-size: 13px;
    height: 72px;
    padding: 16px;

    justify-content: space-between;
}

/*Overriting chat-bar button*/
#chat-bar button{
    justify-content: none;
    position: relative;
    left: 0;
    width: 60px;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}



/* MESSAGES */
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
#messages{
    position: absolute;
    top:62px;
    bottom: 72px;
    overflow: auto;
    width: 100%;
}
.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}


.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
    width: 20%;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
    width: 40%;
    overflow: hidden;
}

.message p {
    background-color: white;
    padding: 16px;
    position:relative;
}

.message button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    /*adjust position of buttons*/
    position: absolute;
    right:8px; 
    bottom: 8px;   
    
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

/*chat appbar*/
#chat h1 small strong a{
    color: white;
}


.star{
    position: absolute;
    height: 30px;
    right: 16px;
    top: 16px;
} 

/*Emojis*/
#emojis{
    margin-left: 16px;
    padding:16px;
    background-color: white;
    border:1px solid black;
    height:200px;
    width:200px;
    font: 28px;
    text-align: left;
    overflow:auto;
    position: absolute;
    left: 16px;
    bottom: 60px;
    display: none;
}
